<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lihy.view.user.mapper.SysBillRuleMapper" >
  <resultMap id="BaseResultMap" type="com.lihy.view.common.entity.SysBillRule" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="RULES_CODE" property="rulesCode" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="PREFIX" property="prefix" jdbcType="VARCHAR" />
    <result column="INIT_VALUE" property="initValue" jdbcType="INTEGER" />
    <result column="CURRENT_VALUE" property="currentValue" jdbcType="INTEGER" />
    <result column="DATE_STRING" property="dateString" jdbcType="VARCHAR" />
    <result column="DATE_TYPE" property="dateType" jdbcType="VARCHAR" />
    <result column="ITEM_LENGTH" property="itemLength" jdbcType="DECIMAL" />
    <result column="VALID_FLAG" property="validFlag" jdbcType="VARCHAR" />
    <result column="REC_SRC" property="recSrc" jdbcType="VARCHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RULES_CODE, ITEM_NAME, PREFIX, INIT_VALUE, CURRENT_VALUE, DATE_STRING, DATE_TYPE, 
    ITEM_LENGTH, VALID_FLAG, REC_SRC, NOTES, CREATE_USER_ID, CREATE_DATE, UPDATE_USER_ID, 
    UPDATE_DATE, DELETE_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lihy.view.common.entity.SysBillRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_bill_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_bill_rule
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sys_bill_rule
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lihy.view.common.entity.SysBillRuleExample" >
    delete from t_sys_bill_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lihy.view.common.entity.SysBillRule" >
    insert into t_sys_bill_rule (ID, RULES_CODE, ITEM_NAME, 
      PREFIX, INIT_VALUE, CURRENT_VALUE, 
      DATE_STRING, DATE_TYPE, ITEM_LENGTH, 
      VALID_FLAG, REC_SRC, NOTES, 
      CREATE_USER_ID, CREATE_DATE, UPDATE_USER_ID, 
      UPDATE_DATE, DELETE_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{rulesCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{prefix,jdbcType=VARCHAR}, #{initValue,jdbcType=INTEGER}, #{currentValue,jdbcType=INTEGER}, 
      #{dateString,jdbcType=VARCHAR}, #{dateType,jdbcType=VARCHAR}, #{itemLength,jdbcType=DECIMAL}, 
      #{validFlag,jdbcType=VARCHAR}, #{recSrc,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lihy.view.common.entity.SysBillRule" >
    insert into t_sys_bill_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="rulesCode != null" >
        RULES_CODE,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="prefix != null" >
        PREFIX,
      </if>
      <if test="initValue != null" >
        INIT_VALUE,
      </if>
      <if test="currentValue != null" >
        CURRENT_VALUE,
      </if>
      <if test="dateString != null" >
        DATE_STRING,
      </if>
      <if test="dateType != null" >
        DATE_TYPE,
      </if>
      <if test="itemLength != null" >
        ITEM_LENGTH,
      </if>
      <if test="validFlag != null" >
        VALID_FLAG,
      </if>
      <if test="recSrc != null" >
        REC_SRC,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rulesCode != null" >
        #{rulesCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="initValue != null" >
        #{initValue,jdbcType=INTEGER},
      </if>
      <if test="currentValue != null" >
        #{currentValue,jdbcType=INTEGER},
      </if>
      <if test="dateString != null" >
        #{dateString,jdbcType=VARCHAR},
      </if>
      <if test="dateType != null" >
        #{dateType,jdbcType=VARCHAR},
      </if>
      <if test="itemLength != null" >
        #{itemLength,jdbcType=DECIMAL},
      </if>
      <if test="validFlag != null" >
        #{validFlag,jdbcType=VARCHAR},
      </if>
      <if test="recSrc != null" >
        #{recSrc,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lihy.view.common.entity.SysBillRuleExample" resultType="java.lang.Integer" >
    select count(*) from t_sys_bill_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sys_bill_rule
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rulesCode != null" >
        RULES_CODE = #{record.rulesCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.prefix != null" >
        PREFIX = #{record.prefix,jdbcType=VARCHAR},
      </if>
      <if test="record.initValue != null" >
        INIT_VALUE = #{record.initValue,jdbcType=INTEGER},
      </if>
      <if test="record.currentValue != null" >
        CURRENT_VALUE = #{record.currentValue,jdbcType=INTEGER},
      </if>
      <if test="record.dateString != null" >
        DATE_STRING = #{record.dateString,jdbcType=VARCHAR},
      </if>
      <if test="record.dateType != null" >
        DATE_TYPE = #{record.dateType,jdbcType=VARCHAR},
      </if>
      <if test="record.itemLength != null" >
        ITEM_LENGTH = #{record.itemLength,jdbcType=DECIMAL},
      </if>
      <if test="record.validFlag != null" >
        VALID_FLAG = #{record.validFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.recSrc != null" >
        REC_SRC = #{record.recSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        UPDATE_USER_ID = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        DELETE_FLAG = #{record.deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sys_bill_rule
    set ID = #{record.id,jdbcType=VARCHAR},
      RULES_CODE = #{record.rulesCode,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      PREFIX = #{record.prefix,jdbcType=VARCHAR},
      INIT_VALUE = #{record.initValue,jdbcType=INTEGER},
      CURRENT_VALUE = #{record.currentValue,jdbcType=INTEGER},
      DATE_STRING = #{record.dateString,jdbcType=VARCHAR},
      DATE_TYPE = #{record.dateType,jdbcType=VARCHAR},
      ITEM_LENGTH = #{record.itemLength,jdbcType=DECIMAL},
      VALID_FLAG = #{record.validFlag,jdbcType=VARCHAR},
      REC_SRC = #{record.recSrc,jdbcType=VARCHAR},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{record.updateUserId,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{record.deleteFlag,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lihy.view.common.entity.SysBillRule" >
    update t_sys_bill_rule
    <set >
      <if test="rulesCode != null" >
        RULES_CODE = #{rulesCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="prefix != null" >
        PREFIX = #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="initValue != null" >
        INIT_VALUE = #{initValue,jdbcType=INTEGER},
      </if>
      <if test="currentValue != null" >
        CURRENT_VALUE = #{currentValue,jdbcType=INTEGER},
      </if>
      <if test="dateString != null" >
        DATE_STRING = #{dateString,jdbcType=VARCHAR},
      </if>
      <if test="dateType != null" >
        DATE_TYPE = #{dateType,jdbcType=VARCHAR},
      </if>
      <if test="itemLength != null" >
        ITEM_LENGTH = #{itemLength,jdbcType=DECIMAL},
      </if>
      <if test="validFlag != null" >
        VALID_FLAG = #{validFlag,jdbcType=VARCHAR},
      </if>
      <if test="recSrc != null" >
        REC_SRC = #{recSrc,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lihy.view.common.entity.SysBillRule" >
    update t_sys_bill_rule
    set RULES_CODE = #{rulesCode,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      PREFIX = #{prefix,jdbcType=VARCHAR},
      INIT_VALUE = #{initValue,jdbcType=INTEGER},
      CURRENT_VALUE = #{currentValue,jdbcType=INTEGER},
      DATE_STRING = #{dateString,jdbcType=VARCHAR},
      DATE_TYPE = #{dateType,jdbcType=VARCHAR},
      ITEM_LENGTH = #{itemLength,jdbcType=DECIMAL},
      VALID_FLAG = #{validFlag,jdbcType=VARCHAR},
      REC_SRC = #{recSrc,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=TINYINT}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>