<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Elasticsearch新闻搜索</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
</head>
<body>

<div class="box">
    <h1>Elasticsearch新闻搜索</h1>
    <div class="searchbox">
        <form action="/search" method="post">
            <input type="text" name="keyword"/>
            <input hidden="hidden" type="text" name="pageNum"/>
            <input hidden="hidden" type="text" name="pageSize"/>
            <input type="submit" value="搜索一下"/>
        </form>
    </div>
</div>
</body>
</html>