<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihy.view.user.mapper.UserMapper">
    <select id="getUserInfo" resultType="com.lihy.view.common.entity.User" parameterType="String">
        SELECT
          *
        FROM t_user t
        WHERE t.id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 用户注册 -->
    <insert id="addUser" parameterType="com.lihy.view.common.entity.User">
        INSERT INTO t_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">
                ID,
            </if>,
            <if test="username != null and username != ''">
                USERNAME,
            </if>,
            <if test="password != null and password != ''">
                PASSWORD,
            </if>
            <if test="email != null and email != ''">
                EMAIL,
            </if>
            <if test="address != null and address != ''">
                ADDRESS,
            </if>
            <if test="birthDate != null and birthDate != ''">
                BIRTH_DATE,
            </if>
            <if test="createDate != null and createDate != ''">
                CREATE_DATE,
            </if>
            <if test="createPerson != null and createPerson != ''">
                CREATE_PERSON,
            </if>
            <if test="updateDate != null and updateDate != ''">
                UPDATE_DATE,
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                UPDATE_PERSON
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="username != null and username != ''">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="birthDate != null and birthDate != ''">
                #{birthDate,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and createDate != ''">
                #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="createPerson != null and createPerson != ''">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null and updateDate != ''">
                #{updateDate,jdbcType=VARCHAR},
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
        </trim>;
    </insert>
</mapper>